body, html { 
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "allumi-std",sans-serif;
}

canvas {
	margin: 0;
	padding: 0;
	display: block;
	top:20px;
}

.blur{
	-webkit-filter: blur(4px);
}

#world {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient( 0deg, #c7e5fd, #c7e5fd 70%, #aed0fb );

}

.helpText {
	position: absolute;
	padding: 20px;
	display: none;
}

#ui {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	display: block;
	top: 0;
	overflow: hidden;
}

.start-button {
	background: rgba(165, 110, 249, 0.3);
	padding: 20px 40px;
	text-align: center;
	font-family: "allumi-std",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.start-button:hover {
	background: rgba(165, 110, 249, 0.6);
}



.feedback {
	display: block;
	position: relative;
	padding: 0;
	text-align: center;
	font-size: 8vmin;
	font-weight: 100;
	color: #72D67D;
	opacity: 0;
}

#meter {
	width: 200px;
	height: 8px;
	margin: 2vh 0 0 0;
	position: absolute;
	left: 50%;
  transform: translateX(-50%);
	background: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
}

#meter::after {
	content: "";
	background-color: #888888;
	height: 12px;
	position: absolute;
	top: -2px;
	left: 50%;
	width: 1px;
	display: block;
}

#bar {
	height: 8px;
	position: absolute;
	width: 0px;

}

.positive {
	background-color: #72D67D;
	border-radius: 0 4px 4px 0;
	left: 50%;
	transition: width .3s ease-out;

}

.negative {
	background-color: #D67F72;
	border-radius: 4px 0 0 4px;
	right: 50%;
	transition: width .3s ease-out;
}

@keyframes fade {
  0% {
    font-size: 5vmin; 
    opacity:0;
    margin: 24vh 0;
  }
  30%{
  	opacity:1;
  }
  100% {
    font-size: 12vmin;
    opacity:0;
    margin: 20vh 0;
  }
}


